
/*first section*/
.container-block1 {
	width: 1088px;
	margin-left: auto;
	margin-right: auto;
	
}
.container1-title1 {
	/*width: 92px;*/
	/*height: 20px;*/
	font-size: 14px;
}
.container1-title2 {
	/*width: 498px;*/
	/*height: 115px;*/
	font-size: 42px;

}

/*left-block*/

.left-block {
	width: 536px;
	height: 190px;
	background: #F8F8F8;
	display: inline-block;

}
.block-image1 {
	width: 168px;
	height: 190px;
	vertical-align: top;



}
.description1 {
	width: 368px;
	display: inline-block;
	vertical-align:  top;


}

.block-title1 {
	font-size: 14px;
	color: #5863F8;
	margin: 37px 0px 1px 16px;


	
}
.block-title2 {
	font-size: 18px;
	margin-left: 16px;
}

.block-text1 {
	width: 260px;
	font-size: 14px;
	color: #B1B1B1;
	margin-top: 10px;
	margin-left: 16px;	
}
 /*right block*/

.right-block {
	width: 520px;
	height: 190px;
	display: inline-block;
	background: #BE2B2B;
	margin-left: 18px;
}
.block-image2 {
	width: 168px;
	height: 190px;
	vertical-align: top;
}
.description2 {
	width: 320px;
	display: inline-block;
	vertical-align:  top;
	
}
.heading-1 {
	font-size: 14px;
	color: #5863F8;
	margin: 37px 0px 1px 16px;
}
.heading-2 {
	font-size: 18px;
	margin-left: 16px;

}
.block-text2 {
	width: 260px;
	font-size: 14px;
	color: #B1B1B1;
	margin-top: 10px;
	margin-left: 16px;

}

/*second section*/
.container-block2 {
	width: 1088px;
	margin-left: auto;
	margin-right: auto;

}
.container-head1 {
	font-size: 14px;

}
.container-head2 {
	font-size: 42px;

}

/*first block*/

.first-block {
	width: 352px;
	height: 148px;
	background: #F8F8F8;
	display: inline-block;
}
.rock {
	width: 352px;
	height: 212px;
	vertical-align: top;
}
.text1{
	width: 352px;
	display: inline-block;
	vertical-align: top;

}
.title1 {
	font-size: 14px;
	color: #5863F8;
	margin: 23px 0px 5px 125px;

}
.title2 {
	font-size: 18px;
	color: #000000;
	margin: 0px 0px 10px 66px;
}
.firstblock-text {
	width: 260px;
	font-size: 14px;
	color: #B1B1B1;
	margin-left: 46px;
}

/*second block*/

.second-block {
	width: 352px;
	height: 148px;
	background: #F8F8F8;
	display: inline-block;
}
.cooking {
	width: 352px;
	height: 212px;
	vertical-align: top;
}
.text2{
	width: 352px;
	display: inline-block;
	vertical-align: top;
}
.title-1 {
	font-size: 14px;
	color: #5863F8;
	margin: 23px 0px 5px 125px;

}






