
/*first section*/
.container-block1 {
	width: 1088px;
	height: 338px;
	margin-left: auto;
	margin-right: auto;
	
}
.container1-title1 {
	width: 92px;
	height: 20px;
	font-size: 14px;
	margin-top: 82px;
	color: #5863F8;
}
.container1-title2 {
	width: 498px;
	height: 115px;
	font-size: 42px;

}

/*left-block*/

.left-block {
	width: 536px;
	height: 190px;
	background: #F8F8F8;
	display: inline-block;

}
.block-image1 {
	width: 168px;
	height: 190px;
	vertical-align: top;



}
.description1 {
	width: 368px;
	height: 194px;
	display: inline-block;
	vertical-align:  top;


}

.block-title1 {
	width: 40px;
	height: 20px;
	font-size: 14px;
	color: #5863F8;
	margin: 37px 0px 1px 16px;


	
}
.block-title2 {
	width: 193px;
	height: 25px;
	font-size: 18px;
	margin-left: 16px;
}

.block-text1 {
	width: 261px;
	height: 62px;
	font-size: 14px;
	color: #B1B1B1;
	margin-top: 10px;
	margin-left: 16px;	
}
 /*right block*/

.right-block {
	width: 520px;
	height: 190px;
	display: inline-block;
	background: #BE2B2B;
	margin-left: 18px;
}
.block-image2 {
	width: 168px;
	height: 190px;
	vertical-align: top;
}
.description2 {
	width: 320px;
	height: 194px;
	display: inline-block;
	vertical-align:  top;
	
}
.heading-1 {
	width: 51px;
	height: 20px;
	font-size: 14px;
	color: #5863F8;
	margin: 37px 0px 1px 16px;
}
.heading-2 {
	width: 189px;
	height: 25px;
	font-size: 18px;
	margin-left: 16px;
	color: #000000;

}
.block-text2 {
	width: 260px;
	height: 62px;
	font-size: 14px;
	color: #B1B1B1;
	margin-top: 10px;
	margin-left: 16px;

}

/*second section*/
.container-block2 {
	width: 1088px;
	height: 528px;
	margin-left: auto;
	margin-right: auto;

}
.container-head1 {
	width: 38px;
	height: 20px;
	font-size: 14px;
	color: #5863F8;

}
.container-head2 {
	width: 465px;
	height: 115px;
	font-size: 42px;
	color: #000000;

}

/*first block*/

.first-block {
	width: 352px;
	height: 148px;
	background: #F8F8F8;
	display: inline-block;
	margin-right: 16px;
}
.rock {
	width: 352px;
	height: 212px;
	vertical-align: top;
}
.text1{
	width: 352px;
	height: 148px;
	display: inline-block;
	vertical-align: top;

}
.title1 {
	width: 102px;
	height: 20px;
	font-size: 14px;
	color: #5863F8;
	margin: 23px 0px 5px 125px;

}
.title2 {
	width: 226px;
	height: 25px;
	font-size: 18px;
	color: #000000;
	margin: 0px 0px 10px 66px;
}
.firstblock-text {
	width: 260px;
	height: 42px;
	font-size: 14px;
	color: #B1B1B1;
	margin-left: 46px;
}

/*second block*/

.second-block {
	width: 352px;
	height: 148px;
	background: #F8F8F8;
	display: inline-block;
}
.cooking {
	width: 352px;
	height: 212px;
	vertical-align: top;
}
.text2{
	width: 352px;
	height: 148px;
	display: inline-block;
	vertical-align: top;
}
.title-1 {
	/*width: 68px;*/
	/*height: 20ox;*/
	font-size: 14px;
	color: #5863F8;
	margin: 23px 0px 5px 125px;
}
.title-2 {
	width: 208px;
	height: 25px;
	font-size: 18px;
	color: #000000;
	margin: 0px 0px 10px 66px
}
.secondblock-text {
	width: 260px;
	height: 42px;
	font-size: 14px;
	color: #B1B1B1;
	margin-left: 46px;
}

/*third block*/
.third-block {
	width: 352px;
	height: 148px;
	background: #F8F8F8;
	display: inline-block;
}
.cookie {
	width: 352px;
	height: 212px;
	vertical-align: top;
}
.text3 {
	width: 352px;
	height: 148px;
	display: inline-block;
	vertical-align: top;
}
.heading1 {
	width: 48px;
	height: 20px;
	font-size: 14px;
	color: #5863F8;
	margin: 23px 0px 5px 125px;
}
.heading2 {
	width: 170px;
	height: 25px;
	font-size: 18px;
	color: #000000;
	margin: 0px 0px 10px 66px;
}
.thirdblock-text {
	width: 260px;
	height: 42px;
	font-size: 14px;
	color: #B1B1B1;
	margin-left: 46px;
}







